<div class="row vertical-align">
	<div class="col-md-10 col-xs-10">
		<h2>Nowa wizyta lekarska</h2>
	</div>
	<div class="col-md-2 col-xs-2">
		<a href="/" class="btn btn-default">
			<i class="fa fa-minus-circle fa-x"></i>
			Anuluj</a>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" id="visit-details-form" role="form">
			<div class="col-md-12 form-group-title">
				<i class="fa fa-user fa-2x"></i>
				<h5>Dane osobowe</h5>
			</div>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="form-group col-sm-3">
						<div class="input-icon">
							<span class="fa fa-user"></span>
							<input type="text" name="firstName" class="form-control" placeholder="Imię">
						</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
							<div class="input-icon">
								<span class="fa fa-user"></span>
								<input type="text" class="form-control" placeholder="Drugie imię">
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
							<div class="input-icon">
								<span class="fa fa-user"></span>
								<input type="text" class="form-control" placeholder="Nazwisko">
							</div>
					</div>
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="form-group col-sm-3">
						<div class="input-icon">
							<span class="fa fa-calendar-o"></span>
							<input type="number" class="form-control" placeholder="PESEL">
						</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
							<div class="input-icon">
								<span class="fa fa-calendar"></span>
								<input type="date" class="form-control" placeholder="Data urodzenia">
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
							<div class="input-icon">
								<span class="fa fa-envelope"></span>
								<input type="email" class="form-control" placeholder="Adres e-mail">
							</div>
					</div>
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="col-md-12 form-group-title">
				<i class="fa fa-stethoscope fa-2x"></i>
				<h5>Szczegóły wizyty</h5>
			</div>
			<div class="row details">
				<div class="col-xs-1"></div>
				<div class="form-group">
					<label class="col-xs-2 radio-title">Zdolność
					</label>
					<div class="col-xs-2">
						<label class="radio checked">
		        	<span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-toggle="radio" checked="checked">
		          TAK
		      	</label>
					</div>
					<div class="col-xs-2">
						<label class="radio">
		        	<span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" data-toggle="radio" checked="checked">
		          NIE
		      	</label>
					</div>
				</div>
				<div class="col-xs-3"></div>
			</div>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="form-group">
					<label class="col-sm-2">Uwagi
					</label>
					<div class="col-sm-7">
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</div>
				<div class="col-xs-2"></div>
			</div>
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-3">
					<a href="#" class="btn btn-block btn-warning btn-embossed">Zapisz jako wersję roboczą</a>
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-block btn-success btn-embossed">Wyślij</button>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</form>
	</div>
</div>