/*-- Bootstrap CSS. -----------------------------------------*/

@import "../../bower_components/bootstrap/dist/css/bootstrap.css";

/*-- Drunken-Parrot CSS. -----------------------------------------*/

@import "../vendor/drunken-parrot-flat-ui/css/drunken-parrot.css";

/*-- Font-Awesome CSS. -----------------------------------------*/

@import "../../bower_components/fontawesome/css/font-awesome.css";

/*-- OpenSans Google Webfonts -----------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/*-- Override Drunken Parrot Font ----------------*/
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.alert > strong {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.checkbox,
.radio {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

label {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

input-group-btn .dropdown-toggle,
.input-group-btn .btn-dropdown {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600; 
}

.navbar-text {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600; 
}

.navbar-inverse .navbar-nav > li > a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600; 
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600; 
}

.palette dt {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.panel-title {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;  
}

.table > thead > tr > th {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/*-- Application stylesheets. -----------------------------------------------*/
footer {
	background: #e1eef3;
	padding: 10px 0;
	margin-top: 20px;
}

.navbar {
	border-radius: 0px;
	border: 0px;
	border-bottom: 4px solid #fad46b;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-align .btn {
	position: relative;
	top: 8px;
}

.form-horizontal h5 {
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-left: 10px;
	font-weight: 600;
	display: inline-block;
	color: #93a4aa;
}

.form-group-title {
	margin: 10px 0;
}

.form-group-title .fa {
	color: #93a4aa;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.form-horizontal .form-group {
	margin-left: -5px;
	margin-right: -5px;
}

.details label.radio-title {
	line-height: 1.5;
	margin-bottom: 10px;
}